#element-two {
    font-size: 36px;
    color: blue;
}

.cool{
    font-size: 24px;
}

#element-four{
    font-size: 24px;
    font-weight: bold;
    background-color: lightgreen;
}

.odd {
    font-family: Verdana, DejaVu Sans, sans-serif;
    background-color: pink;
}

